@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');


$black: #000000;
$white: #ffffff;
$dark_blue1:#171718;
$dark_blue: #0e0e11;
$blue_1: #012a4a;
$blue_2: #013a63;
$blue_3: #01497c;
$blue_4: #014f86;
$blue_5: #2a6f97;
$light_blue: #80ced7;
$light_pink: #ff4d6d;
$purple: #683c70;